.product {
padding-top: 120px;
padding-bottom: 160px;

}

.product-row{
display: flex ;
justify-content: space-between;
}

.product-img-wrapper {
margin-right: 86px;
}


.product-img{
border-radius: 18%;
}
.product-content {
max-width: 584px;
}

.product-content-title {
font-size: 25px;
font-weight: 600;
line-height: 157%;
}

.product-content-title + * {
    margin-top: 10px;
}

.product-content-subtitle{
    font-family: "Georgia", serif;
    font-size: 50px;
    font-weight: 700;
    color: rgb(2, 146, 127);
    line-height: 157%;
    
}

.product-content-subtitle + * {
margin-top: 20px;
}

.product-content-text {
    line-height: 144.5%;
    max-width: 530px;
}



.product-content-text + * {
margin-top: 40px;

}

.product-content-btn {
display: flex;
}



@media (max-width: 1299px) {
    .product {
        padding-top: 80px;
    }
.product-img-wrapper{
flex: 1 0 auto;
 flex-basis: 50%;
}
.product-content-subtitle {
 font-size: 40px;
 line-height: 130%;
}
}

@media (max-width: 991px) {

    .product {
        padding-top: 40px;
    }
.product-content-subtitle{
    font-size: 30px;
    line-height: 130%;
}

.product-row{
flex-direction: column-reverse;

}
.product-content {
    margin-bottom: 40px;
}
.product-img-wrapper{
    padding: 0;
    margin: 0;
}
}